* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    background-color: #F5F5DC;
    height: 100vh;
    width: 100vw;
    display: block;
    margin: 1px 2px 1px 2px;
}
.area-logo {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-logo img {
    height: 60px;
    border-radius: 50%;
    border: 5px #B22222 solid;

}
.barra-info{
    height: 30px;
    background-color: #B22222;
    color: #F5F5DC;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.area-pedidos{
    height: 60%;
    border: 1px #B22222 solid;
    margin: 2px;
}