/* #B22222 botoes
#228B22 destaques
#F5F5DC fundo */
* {
    margin: 0;
    padding: 0;
}

button {
    background-color: #B22222;
}

body {
    background-color: #F5F5DC;
    height: 100vh;
    width: 100vw;
    display: block;
}

.area-logo {
    height: 85px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-logo img {
    height: 60px;
    border-radius: 50%;
    border: 5px #B22222 solid;

}

.categorias {
    background-color: #228B22;
    width: 100vw;
    height: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    /* alinha horizontalmente no centro */
    align-items: center;
    /* alinha verticalmente no centro */
}

.categorias a {
    color: #F5F5DC;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
}

a:hover {
    border-radius: 5px;
    border: 2px #F5F5DC solid;
    
}

.banner-pratos .banner-sucos .banner-lanches {
    background-color: #F5F5DC;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px #fa8383 solid;
    margin: 1px 4px 1px 4px; 
    transition: 5s;
}

h3 {
    background-color: #B22222;
    color: #F5F5DC;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}

.box-prato {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 5px;
    justify-content: center;
    border-bottom: #B22222;

}

.box-prato h2 {
    width: 40vw;
    font-size: 22px;
    align-items: center;
}

.box-prato img {
    height: 45px;
    width: 45px;
}


/* Estilização simples para ficar mais amigável */
.quantity-container {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    position: static;
    margin-right: 5px;
}

.quantity-container button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    color: #F5F5DC;
    font-weight: bold;
}

input[type="number"] {
    width: 50px;
    text-align: center;
    margin: 0 5px;
    font-size: 16px;
    border: 1px black solid;
}

.area-btn-pedido {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.btn-fecha-pedido {
    height: 30px;
    width: 120px;
    color: #F5F5DC;
    font-size: 15px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}
.btn-fecha-pedido:hover {
  background-color: #228B22; /* muda para verde */
}
.btn-fecha-pedido:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}